.cardapio{
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    padding: 32px 80px ;
}

.cardapio-titulo{
    background-color: aqua;
    height: 65px;
}

.cardapio-favoritas{
    background-color: blanchedalmond;
    height: 100px;
}

.cardapio-menu{
    background-color: blue;
    height: 100px;
}

.cardapio-bebidas{
    background-color: pink;
    height: 100px;
}