footer{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    padding-top: 130px;
}

.contatos-container{
    display: flex;
    padding-bottom: 42px;
}

.contato-logo{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    gap: 12px;
}
.contato-logo p{
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    width: 82px;
}

.contato-links{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato-links p{
    width: 80px;
    font-size: 1.5rem;
    color: #fff;
}

.contato-links ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80px;
    gap: 12px;
    color: #fff;
    font-weight: 200;
}
.contatos{
    gap: 12px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contatos > p{
    font-size: 1.5rem;
    color: #fff;
}

.contatos li{
    display: flex;
    gap: 12px;
}

.contatos ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contatos i{
    color: #fff;
}

.contatos li p{
    color: #fff;
    font-weight: 200;
}


.contato-sociais{
    flex-grow: 1;
}

.contato-sociais ul{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 12px;
}

.contato-sociais a{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.contato-sociais i{
    color: #fff;
    font-size: 25px;
}



.autor-container{
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color: #ffffff57;
    font-style: italic;
    font-weight: 200;
    border-top: 1px solid #fff8;
}

/* versao tablet */
@media (max-width:768px){
    .contato-links{
        display: none;
    }

    .contatos-container{
        gap: 100px;
    }

    .contato-logo{
        align-items: center;
    }
    
    .contatos{
        justify-content: center;
    }

}


@media (max-width:480px){

    footer{
        display: none;
    }
}