:root{
    --cor-primaria:#f07807;
    --cor-secundaria:#fef2e7;
    --cor-branco:#fff;
    --cor-preta:#000;
    ---cor-sombra:rgba(0, 0, 0, 0.397);
}
/* efeto de rolagem suave */
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-secundaria);
    font-family: 'Poppins', sans-serif;
}

/* seta de rolagem */
.link-home{
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    bottom: 0;
    left: 50%;
    font-size: 80px;
    transform: translateX(-50%) rotate(90deg);
    color: var(--cor-primaria);
    animation: pulsando 1s alternate infinite;
}


main{
    background-color: var(--cor-secundaria);
}

section{
    height: 100vh;
    width: 100%;
}

@keyframes pulsando {
    0%{
        transform: translateX(-50%) rotate(90deg) scale(1);
    }

    100%{
        transform: translateX(-50%) rotate(90deg) scale(1.0);
        color: #f078075b;
    }
}
